!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title KuroPaste
    %link{:rel => "stylesheet", :href => "#{url "/css/style.css"}"}
    %link{:rel => "stylesheet", :href => "#{url "/css/idle.css"}"}
    %link{:rel => "icon", :type => "image/png",
          :href => "#{url "/img/favicon.png"}"}
  %body
    %header{:class => "main"}
      .main
        %h1.logo
          KuroPaste
        %nav{:class => "main-left"}
          %ul
            %li
              %a{:href => "#{url "/"}"} New
            %li
              %a{:href => "#{url "/list"}"} List
        %form{:action  => "#{url "/search"}", :method  => "post"}
          %input.search{:type => "text", :name => "search",
                      :placeholder => "Search"}
        %nav{:class => "main-right" }
          %ul
            %li
              %a{:href => "#{url "/line"}"} #
    %section{:class => "main"}
      =yield
    %footer{:class => "main"}
      .main
        %p
          KuroPaste &copy; 2012 fuzyll - All Rights Reserved

